@import '/styles/core/_reset';
@import '/styles/core/_base';
@import '/styles/core/_footer';
@import '/styles/core/_header';
@import '/styles/lib/_mixins';
@import '/styles/lib/_variables';

body {
  background-color: $rootColor;
}

header {
  background-color: $accentColor;
}

main {
  margin: $space;
}

p {
  @include center(horizontal)
}

footer {
  background-color: $accentColor;
}

