@import '/styles/core/reset';
@import '/styles/core/base';
@import '/styles/core/footer';
@import '/styles/core/header';
@import '/styles/lib/mixins';
@import '/styles/lib/variables';

body {
  background-color: $rootColor;
}

header {
  background-color: $accentColor;
}

main {
  margin: $space;
}

footer {
  background-color: $accentColor;
}

