@import './core/reset';
@import './core/_base';
@import './core/_footer';
@import './core/_header';
@import './lib/_mixins';
@import './lib/_variables';

body {
  background-color: $rootColor;
  @include flex(column, center, center);
}

header {
  background-color: $accentColor;
}

main {
  margin: $space;
}

p {
  @include center(horizontal)
}

footer {
  background-color: $accentColor;
}

